/* .employee-content{
  flex: 1;
  margin-left: 160px; 
  padding: 0px 40px;
  overflow-y: auto;
  min-height: 100vh;
  background-color: #ffffff;
  width: 100%;

} */

.employee-container {
  display: flex;
  min-height: 100vh;
  background-color: #ffffff;
}

/* Main content area */
.employee-content {
  flex: 1;
  margin-left: 190px; /* adjust to match your sidebar width */
  padding: 0px 40px;
  overflow-y: auto;
  background-color: #ffffff;
  border-left: 1px solid #e5e7eb;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.03);
}
